@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla";
  font-family: DM Sans, sans-serif !important;
}
button {
  outline: none;
}
header.active {
  box-shadow: 0 0 7px 0 #ced3da;
}

.menu {
  animation: menu 200ms ease;
}
.menu.active {
  display: flex;
}
.open .middle {
  display: none;
  transition: 300ms ease-in;
}
.open .top {
  transform: rotate(45deg) translateY(5px) translateX(4px);
  transition: 300ms ease-in;
}
.open .bottom {
  transform: rotate(-45deg) translateY(-5px) translateX(2px);
  transition: 300ms ease-in;
}

.learn::after {
  position: absolute;
  content: "";
  height: 5px;

  background-color: #d0e2fc;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.learn2::after {
  position: absolute;
  content: "";
  height: 6px;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: #f6dbf8;
}
.learn:hover::after {
  opacity: 1;
  animation: moveIn 200ms linear;
  animation-fill-mode: forwards;
}
.learn2:hover::after {
  opacity: 1;
  animation: moveIn2 200ms linear;
  animation-fill-mode: forwards;
}

.saving:hover .arrow {
  transform: translateX(10px);
  transition: 200ms ease;
}

.investImg::after {
  position: absolute;
  content: "";
  background-image: url(../src/images/investRound.svg);
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -15%;
  top: 30%;
}
.investImg::before {
  position: absolute;
  content: "";
  background-image: url(../src/images/investDot.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  right: 50%;
  top: 10%;
}

footer i:hover {
  transform: translateY(-5px);
  transition: 500ms ease;
  cursor: pointer;
}

.save,
nav > a {
  height: 3rem;
  display: grid;
  place-items: center;
}

.save:hover .hoverMenu {
  display: flex;
}

.headerimg::after {
  content: "";
  position: absolute;
  content: "";
  top: -40%;
  right: -30%;
  width: 300px;
  height: 800px;
  background-color: rgba(221, 221, 221, 0.3);
  border-radius: 5px;
  z-index: -1;
}

.cookie {
  transform: translateY(0);
  transition: transform 800ms ease;
}

.cookie.slideout {
  transform: translateY(150%);
  /* display: none; */
}

.love {
  animation: pulse 2s ease-in infinite;
}
.swiper-slide {
  height: auto !important;
}
.login {
  background-image: url(./images/blue.png), url(./images/green.png),
    url(./images/pink.png), url(./images/purple.png);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes menu {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes moveIn2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .headerimg::after {
    display: none;
  }

  .investImg::after {
    background-size: 70%;

    left: 0%;
  }
}

@media screen and (min-width: 400px) {
  .investImg::after {
    left: 0%;
  }

  .investImg::before {
    right: 0;
  }

  .ndpr {
    width: 30%;
  }
  .cookie {
    width: 90%;
  }

  .headerimg::after {
    display: none;
  }
}

/* @media screen and (min-width: 760px) {
  .investImg::after {
    display: none;
  }
  .meet {
    width: 60%;
  }
} */

@media screen and (min-width: 976px) {
  .investImg::after {
    display: block;
    left: 15%;
  }
  .investImg::before {
    right: 0;
  }
  footer ul li {
    font-weight: 500;
    font-size: 163px;
  }
}
